# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python build & bytecode artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments & Dependencies
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
